@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;

  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
